name: focused_menu_custom
description: This is an easy to implement package for adding Focused Long Press Menu to Flutter Applications
version: 1.1.1
homepage: https://github.com/thorito/focused_menu.git

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
